<div class="container-fluid mt-5 footer">
  <div class="row">
    <div class="col text-center">
      <div class="background-block">
        <h3 class="footer-title">Stay Connected</h3>
        <p class="no-links">Feel free to reach out via email!</p>
      </div>
    </div>
  </div>
  <div class="text-center">
    <p class="text-center tagline">© {{ getCurrentYear() }} Aditya Jain. All rights reserved.</p>
    <p class="text-center tagline">"Crafting digital experiences with passion!"</p>
  </div>
</div>
