<div id="user-profile" class="container col-12 col-md-8 my-5 mx-auto">
  <div class="row">
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
      <img src="./assets/profile.jpeg" alt="Profile picture" class="profile-img rounded-border">
    </div>
    <div class="col-md-6 d-flex flex-column justify-content-center align-items-center text-center">
      <p class="greeting fs-5">Hey there, I’m</p>
      <h1 class="name fw-bold text-highlight">Aditya Jain</h1>
      <p class="job-title fs-4 ">Passionate Software Developer</p>
      <div class="button-group d-flex justify-content-center mt-4">
        <button class="btn btn-download me-2" (click)="openResume()">
          Get My Resume
        </button>
      </div>
    
    </div>
  </div>
</div>
